/* cyrillic-ext */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/montserrat/v10/zhcz-_WihjSQC0oHJ9TCYPk_vArhqVIZ0nv9q090hN8.woff2) format('woff2');
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
/* cyrillic */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/montserrat/v10/zhcz-_WihjSQC0oHJ9TCYPk_vArhqVIZ0nv9q090hN8.woff2) format('woff2');
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* hebrew */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/montserrat/v10/zhcz-_WihjSQC0oHJ9TCYPk_vArhqVIZ0nv9q090hN8.woff2) format('woff2');
  unicode-range: U+0590-05FF, U+20AA, U+25CC, U+FB1D-FB4F;
}
/* latin-ext */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/montserrat/v10/zhcz-_WihjSQC0oHJ9TCYPk_vArhqVIZ0nv9q090hN8.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/montserrat/v10/zhcz-_WihjSQC0oHJ9TCYPk_vArhqVIZ0nv9q090hN8.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* cyrillic-ext */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/montserrat/v10/IQHow_FEYlDC4Gzy_m8fcoWiMMZ7xLd792ULpGE4W_Y.woff2) format('woff2');
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
/* cyrillic */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/montserrat/v10/IQHow_FEYlDC4Gzy_m8fcoWiMMZ7xLd792ULpGE4W_Y.woff2) format('woff2');
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* hebrew */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/montserrat/v10/IQHow_FEYlDC4Gzy_m8fcoWiMMZ7xLd792ULpGE4W_Y.woff2) format('woff2');
  unicode-range: U+0590-05FF, U+20AA, U+25CC, U+FB1D-FB4F;
}
/* latin-ext */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/montserrat/v10/IQHow_FEYlDC4Gzy_m8fcoWiMMZ7xLd792ULpGE4W_Y.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/montserrat/v10/IQHow_FEYlDC4Gzy_m8fcoWiMMZ7xLd792ULpGE4W_Y.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#mapseed-custom-page-container p, #mapseed-custom-page-container li {
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  padding-right: 10px;
}

/* About page */
#mapseed-custom-page-container .about-title {
  font-size: 1.5rem;
  line-height: 1.33;
  font-weight: 700;
  margin: 0 0 1.5rem;
}
#mapseed-custom-page-container .about-lead {
  font-size: 1.125rem;
  line-height: 1.33;
  font-weight: 700;
  color: #c67c00;
  margin: 0 0 1.5rem;
}
#mapseed-custom-page-container .about-text {
  font-size: 1rem;
  line-height: 1.3125;
  color: #aeadb3;
  margin: 0 0 1.3125rem 0;
}
/* Header */
.mapseed-site-header {
  box-shadow: none;
  background-color: #ffffff;
  border-bottom: 1px solid #aeadb3;
}
.mapseed-site-header h2 {
  letter-spacing: -.5px;
}
@media (max-width: 960px) {
  .mapseed-site-header h2 {
    font-size: 1.35rem;
  }
}
.mapseed-site-header .mapseed-internal-link {
  text-transform: none;
  font-weight: 400;
  font-size: 0.65rem;
  color: #aeadb3;
  text-transform: uppercase;
}
.mapseed-site-header .mapseed-internal-link:hover {
  color: #f0a300;
  background-color: transparent;
}
.mapseed-site-header>div .mapseed-internal-link:hover {
  background-color: transparent;
}
.mapseed-site-header>div .fa-bars {
  color: #718792;
}
.mapseed-featured-places-header-menu__button {
  text-transform: none;
  font-size: 1.125rem;
  color: #fff;
  font-weight: 400;
}
.mapseed-featured-places-header-menu__button.MuiButton-root{
  line-height: 1.15;
}
.mapseed-featured-places-header-menu__button.MuiButton-root:hover {
  background-color: #718792;
}
.mapseed-site-header nav[aria-label="navigation header"] {
  color: #000000;
  font-weight: 400;
  font-size: 1rem;
}
.mapseed-site-header :nth-child(3) nav {
  position: relative;
  padding: .5rem 1rem;
  border-radius: 4px;
  font-weight: 400;
  font-size: 1rem;
  color: #000000;
}
.mapseed-site-header :nth-child(3) nav:hover {
  background-color: #718792;
}
.mapseed-site-header :nth-child(3) button {
  background-color: #718792;
  color: #fff;
  padding: 0.3rem 1rem;
}
.mapseed-site-header :nth-child(3) button .MuiTypography-body1 {
  font-family: 'Montserrat', sans-serif;
}
.mapseed-site-header :nth-child(3) button:hover {
  background-color: #000000;
  color: #fff;
}
@media(max-width:960px) {
  .mapseed-site-header>div {
    margin-top: 7px;
  }
  .mapseed-site-header :nth-child(3) nav {
    text-indent: -9999px;
  }
  .mapseed-site-header :nth-child(3) button.MuiButtonBase-root {
    border-radius: 4px;
  }
  .mapseed-site-header :nth-child(3) ul  {
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    background-color: transparent;
    justify-content: center;
    border-top: 1px solid #718792;
    border-bottom: 1px solid #718792;
    padding: .5rem 0;
  }
  .mapseed-site-header :nth-child(3) ul li {
    width: auto;
  }
  .mapseed-site-header :nth-child(3) ul li button {
    background-color: transparent;
  }
}
@media (min-width: 960px) {
  .mapseed-site-header :nth-child(3) nav::after {
    content: '';  
    width: 0;
    height: 0;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-top: 6px solid #000000;
    position: absolute;
    top: 50%;
    margin-top: -4px;
  }
  .mapseed-site-header :nth-child(3) button {
    margin-right: 2rem;
  }
  .mapseed-site-header :nth-child(3) nav ul {
    border: none;
    border-radius: 4px;
    background-color: #fff;
    box-shadow: 0 2px 3px rgba(0, 0, 0, .3);
    width: 100%;
    position: absolute;
    top: 34px;
    left: 0;
  }
  .mapseed-site-header :nth-child(3) nav:hover ul {
    position: absolute;
  }
  .mapseed-site-header :nth-child(3) nav ul li button{
    background-color: transparent;
    color: #000000;
    margin-right: 0;
  }
  .mapseed-site-header :nth-child(3) nav ul li button:hover{
    background-color: #f2f2f2;
    color: #000000;
  }
}
/* Buscador mapa */
#site-wrap>div>form {
  box-shadow: 0 2px 3px rgba(0, 0, 0, .3);
}
/* #site-wrap>div>form>div input{
  border-color: #fff;
} */
#site-wrap>div>form>div div {
  background-color: #c63f17;
  font-family: 'Montserrat', sans-serif;
  box-shadow: none;
}
/* Section panel */
#site-wrap>div>section {
  padding: 18px;
  background-color: #ffffff;
  border-left: 1px solid #aeadb3;
}
#site-wrap>div>section button[aria-label="close"] {
  border-radius: 0;
  background-color: transparent;
  right: 12px;
  left: auto;
  box-shadow: none;
  color: #aeadb3;
  margin-bottom: 5px;
}
#site-wrap>div>section button[aria-label="close"]:hover {
  color: #c67c00;
}
@media(max-width:960px) {
  #site-wrap>div>section>div {
    padding: 2rem 8px 8px 8px;
  }
}
@media (min-width: 960px) {
  #site-wrap>div>section {
    padding: 30px 0 0 5px;
  }
}
/* Add button */
.mapseed-add-place-button-container {
  box-shadow: none;
  font-weight: 700;
  font-size: 0.75rem;
  border: none;
  border-radius: 20px !important;
  background-color: #f0a300;
  padding: 8px 16px;
} 
@media (min-width: 960px) {
  .css-1extdu3-Button-AddPlaceButtonContainer {
    top: 78px !important;
    left: 60px !important;
  }
}
/* Forms reportes - Customozables desde theme varaibles.scss si tuvieramos uno propio */ 
.form-stage-header-bar__header{
  font-family: 'Montserrat';
  text-transform: uppercase;
  color: #a1cde7;
  margin: 0;
}

.text-color-water{
  color: #a1cde7 !important;
}

.text-color-relocations{
  color: #efcc5a !important;
}

.text-color-protected-areas{
  color: #a2ba91 !important;
}

.input-form-category-button {
  height: 48px !important;
  background-color: transparent !important;
}
.input-form-category-button--hidden {
  height: 0 !important;
}
.input-form-category-button label {
  border: 1px solid #ccc;
  height: 48px;
  border-radius: 4px;
  background-color: transparent;
}
.input-form-category-button label:hover {
  background-color: #dadedf;
  border-color: #dadedf;
}
.input-form-category-button__image {
  margin: 0 12px !important;
}
.input-form-category-button label span:nth-child(1) {
  border-radius: 4px;
}
.input-form-category-button label span:nth-child(2) {
  padding-left: 0;
  color: #000000;
}
#site-wrap>div>section #mapseed-input-form {
  margin-top: 2rem;
}

[class*="RegularText-FormField"] {
  font-size: 14px !important;
  font-weight: 700;
}

/* START FORM STAGE CONTROL BAR STYLES */

.css-w1p6qw-RegularText{
  font-size: 14px !important;
  font-weight: 700;
}

.css-1cwt1ry-FormStageControlBar, .css-12t4dd3-FormStageControlBar {
  border-top: 1px solid #aeadb3;
  box-shadow: none !important;
  margin-top: 0 !important;
  display: flex !important;
  justify-content: center !important;
  padding-top: 25px !important;
  padding-bottom: 25px !important;
  padding-left: 15px !important;
}

.css-12t4dd3-FormStageControlBar {
width: 200px !important;
border-left: none !important;

}

.form-orange-button{
  border-radius: 20px !important;
  background-color: #f0a300;
  margin-left: 35px !important;
  margin-right: 35px !important;
  padding: 8px 16px;
  }
/* END FORM STAGE CONTROL BAR STYLES */


/*START SUBMIT PANEL STYLES*/
.input-form-submit-card{
 width: 300px;
 height: 130px;
 border: 1px solid #a1cde7;
 border-radius: 20px;
 padding: 15px;
 font-size: 14px !important;
 margin: auto !important;
}

.css-13sk7ex-Button-InputFormSubmitCard {
  border-radius: 20px !important;
  background-color: #a1cde7 !important;
  padding: 8px 16px !important;
  font-size: 14px !important;
  font-weight: 700 !important;
  width: 200px !important;
}
/*END SUBMIT PANEL STYLES*/

div[data-field-type="geocoding"]{
padding-left: 0 !important;
}

div[data-field-type="text"], 
div[data-field-type="informational_html"], 
div[data-field-type="dropdown_autocomplete"],
div[data-field-type="big_radio"],
div[data-field-type="big_checkbox"],
div[data-field-type="textarea"],
div[data-field-type="rich_textarea"],
div[data-field-type="file"],
div[data-field-type="submit"],
div[data-field-type="datetime"],
div[data-field-type="dropdown"] {
  padding: 0;
  margin-bottom: 1.5rem;
  border: none !important;
}

div[data-field-type="informational_html"]{
font-size: 14px;
}

div[data-field-type="big_radio"]{
display: flex;
flex-direction: column;
}

div[data-field-type="big_checkbox"]{
  display: flex;
  flex-direction: column;
  }

[class*="TextInput-GeocodingField"] {
  padding: 0;
  margin: 0;
  outline: none;
  border: none;
  border-bottom: 1px solid #aeadb3;
  width: 100%;
  font-size: 12px;
  color: #999;
}

.TextInput-GeocodingField:hover{
  border: none;
  outline: none;
} 

.TextInput-GeocodingField:active{
  border: none;
  outline: none;
}

.TextInput-GeocodingField:focus{
  border: none;
  outline: none;
}

.big-radio-field__label:before{
background-color: #ffffff!important;
border: 1px solid #000000 !important;
border-radius: 50% !important;
height: 16px !important;
width: 16px !important;
}

.big-radio-field__label--toggled{
border: none !important;
}

.big-radio-field__label--toggled:before{
color: transparent !important;
border: none !important;
}

.big-radio-field__label {
  border: none !important;
  font-size: 14px ​!important;
  line-height: 3px !important;
  color: #000000 !important;
  padding: 8px 10px 8px 24px !important;
  overflow: hidden;
}



div[data-field-type="submit"]{
  padding-top: 1rem;
  border-top: 1px solid #ccc;
  text-align: center;
}
div[data-field-type="informational_html"][data-field-name*="intro-"] p {
  color: #718792;
  border-top: 1px solid;
  padding-top: 1rem;
}
.input-form__field-prompt-container span {
  font-size: 1rem;
  color: #000000;
}
.input-form__field-prompt-container span span {
  font-size: 0.75em;
}
.autocomplete__input {
  border: 1px solid #ccc !important;
  border-radius: 4px !important;
  padding: .6875rem !important;
}
.big-checkbox-field__label {
  border: none !important;
  font-size: 14px ​!important;
  line-height: 3px !important;
  color: #000000 !important;
  padding: 8px 10px 8px 24px !important;
  overflow: hidden;
  border-radius: 0 !important;
}
.big-checkbox-field__label:before {
  background-color: #ffffff!important;
  border: 1px solid #000000 !important;
  height: 16px !important;
  width: 16px !important;
}
.big-checkbox-field__label--toggled:before {
  background-color: #000000 !important;
}
.big-radio-field__label--toggled:before {
  background-color: #000000 !important;
}
.big-toggle-field {
  margin-bottom: .5rem;
}
.big-toggle-field__label {
  font-size: 1rem !important;
  line-height: 1.3rem !important;
  color: #999 !important;
  padding: 8px 10px 8px 50px !important;
}
.big-toggle-field__label--toggled {
  border: 2px solid #ffab00 !important;
  color: #000000 !important;
}
.big-toggle-field__label--toggled:before {
  background-color: #ffab00 !important;
}
[data-field-type="big_toggle"] {
  padding: 0;
  margin: 0;
}
.text-field {
  border: 1px solid #ccc !important;
  border-radius: 4px !important;
  padding: 0.6875rem !important;
}
.ql-toolbar.ql-snow {
  border-top: none !important;
  border-right: none !important;
  border-left: none !important;
}
.ql-toolbar.ql-snow + .ql-container.ql-snow {
  border: none !important;
}
.add-attachment-button__file-field-label {
  color: #ffffff !important;
  padding: 0.5rem 1rem !important;
  border: 1px solid #a1cde7 !important;
  box-shadow: none !important;
  height: 40px;
  box-sizing: border-box !important;
  border-radius: 20px !important;
  font-size: 0.875em !important;
  text-align: center !important;
  font-weight: 700;
  line-height: 1.5em !important;
}
.add-attachment-button__file-field-label:hover {
  background-color: #c8ced2 !important;
  border-color: #c8ced2 !important;
}
div[data-field-type="submit"] button {
  color: #fff;
  background-color: #ffab00;
  padding: 0.6875rem 1rem;
  font-weight: 400;
  border: none;
  border-radius: 4px;
  box-shadow: none;
  width: 100%;
}
div[data-field-type="submit"] button:hover {
  background-color: #c67c00;
}
#mapseed-input-form h4 {
  font-size: 1.125rem;
  line-height: 1.3;
  font-weight: 400;
  margin: 0;
  color: #000000;
}

.datetime-field__input, .text-field, .textarea-field {
  padding-left: 1em !important;
  border-radius: 20px !important;
  border-width: 1px !important;
  border-color: #a1cde7 !important;
  font-size: 14px !important;
}

.textarea-field {
  resize: none !important;
}

.datetime-field__input, .text-field {
height: 40px !important;
}

.dropdown-field {
  border: 1px solid #ccc !important;
  padding: 0.5em 0.5em 0.5em 0.5em !important;
  border-radius: 4px;
  color: #000000;
}

/* Left sidebar */
.mapseed-left-sidebar {
  background-color: #ffffff;
}
.mapseed-left-sidebar>div {
  padding: 1.5rem;
}
.mapseed-left-sidebar h3 {
  color: #000000;
  font-size: 1.3125rem;
  font-weight: 700;
  margin: 0 0 1rem 0;
}
.mapseed-left-sidebar h4 {
  font-size: .875rem;
  color: #718792;
  font-weight: 700;
  text-transform: uppercase;
}
.mapseed-left-sidebar hr {
  border-color: #ccc;
}
.mapseed-map-layer-selector-container {
  padding: 0;
  margin-bottom: 0;
}
.mapseed-map-layer-selector-container span span {
  font-size: .875rem;
  display: inline-block;
  padding: .5rem .5rem .5rem 0;
  color: #000000;
 }
 .mapseed-map-layer-selector-container span span:last-child{
  margin: 0;
  padding: .25rem;
 }
 .mapseed-map-layer-selector-container span.fa-check {
   color: #ffab00;
 }
 .css-pigogt {
  right: 10px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  background-color: #ffffff;
  color: #455a64;
  box-shadow: none;
}
.css-pigogt:hover {
  color: #c67c00;
}
@media(max-width:960px) {
  .css-pigogt {
    font-size: 18px;
  }
}
/* Reportes */
#site-wrap>div>section>div>div {
  color: #000000;
}
#site-wrap>div>section>div:first-of-type>div:first-of-type>div:first-of-type {
  border-bottom: 2px solid #aeadb3;
}
#site-wrap>div>section>div:first-of-type>div:first-of-type>div:first-of-type.input-form-category-button {
  border-bottom: none;
  padding-bottom: 0;
}
#site-wrap>div>section>div:first-of-type>div:first-of-type>div:first-of-type img {
  border-radius: 50%;
}
#site-wrap>div>section>div:first-of-type>div:first-of-type>div:first-of-type>div:first-of-type div:nth-child(2) :nth-child(2), 
#site-wrap>div>section>div:first-of-type>div:first-of-type>div:first-of-type>div:first-of-type div:nth-child(2) :nth-child(3) {
  font-size: 1rem;
  color: #718792;
  text-transform: none;
  display: inline-block;
  margin-right: 10px;
  margin-top: 3px;
}
.field-summary div ul {
  padding: 0;
  list-style-position: inside;
}
.field-summary h4 {
  font-size: 1rem;
}
div[class*=-RichTextareaFieldResponseWrapper] {
  margin-top: 2rem;
}
.rich-textarea-field-response iframe {
  width: 100%;
  height: calc(40vw/1.7);
}
@media(max-width:960px) {
  .rich-textarea-field-response iframe {
    height: calc(100vw/1.7);
  }
}
.place-detail-survey-responses article {
  border-top: 1px solid #ccc;
  padding-top: 1rem;
}
.place-detail-survey-responses article div {
  border-radius: 0;
  border: none;
  padding: 0;
}
.place-detail-survey-responses article div:last-child {
  margin: 10px 0 30px 0;
}
.place-detail-survey-responses article div img {
  margin-right: 10px;
  border-radius: 50%;
}
.place-detail-survey-responses article div:last-child span time {
  color: #718792;
  text-transform: none;
}
.place-detail-survey-responses article:first-child {
  border: none;
}
/* Map tooltip */
.mapboxgl-popup-content {
  padding: 10px !important;
}

.mapboxgl-ctrl-compass {
  display: none !important;
}

.input-form__optional-msg {
color: #aeadb3 !important;
font-size: 11px !important;
font-weight: 400 !important;
}

.border-color-water{
  border-color: #a1cde7  !important;
}

.border-color-relocations{
  border-color: #efcc5a  !important;
}

.border-color-protected-area{
  border-color: #a2ba91 !important;
}

.background-color-water{
  background-color: #a1cde7  !important;
}

.background-color-relocations{
  background-color: #efcc5a  !important;
}

.background-color-protected-area{
  background-color: #a2ba91 !important;
}